REACT_APP_JUPITER_REFERRAL_KEY=E2yVdtMKBX8c7nNwks2mJ8gXpVrEMf2gkrXLz5oaDzQX
REACT_APP_RANGO_API_KEY=c6381a79-2817-4602-83bf-6a641a409e32
REACT_APP_RANGO_AFFILIATE_REF=aS0wM9
REACT_APP_RANGO_FEE_WALLET=0xc0c99c0accbcc3bfe497dcdb062983a194b8c242
REACT_APP_ONRAMPER_API_KEY=your_onramper_key_here
REACT_APP_SOLANA_RPC=https://api.mainnet-beta.solana.com
